<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}'s Watch-List</title>
    <link rel="icon" href="{{ url_for('static', filename='coffe.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="oldman" class="oldman" src="{{ url_for('static', filename='images/oldman.jpg') }}" >
        {{ user.name }}'s Watch-List
    </h2>
    <ul class="movie-list">
        <li>
            Page Not Found - 404
            <span class="float-right">
                <a href="{{ url_for('index') }}">Go Back</a>
            </span>
        </li>
    </ul>
    <footer>
        <small>
            &copy; 2020 <a href="https://github.com/JoeinChina">Joe Bu</a>
        </small>
    </footer>
</body>
</html>